@model Core.Entities.Film

<div class="filminfo">
    <h1>Title: @Model.Name </h1>
    <div class="poster">
        <img src="@Model.PosterURL" align="left" width="450" />
    </div>
    <div class="details">
        <p class="fs-4"><strong>Director:</strong> @Model.Director </p>
        <p class="fs-4"><strong>Age Rating:</strong> @Model.AgeRating </p>
        <p class="fs-4"><strong>Duration:</strong> @Model.Duration </p>
        <p class="fs-4"><strong>Genres:</strong> @(Model?.Genres != null ? string.Join(", ", Model.Genres.Select(g => g.Name)) : "Немає жанрів") </p>
        <p class="fs-4"><strong>Actors:</strong> @(Model?.Actors != null ? string.Join(", ", Model.Actors.Select(a => $"{a.FirstName} {a.LastName}")) : "Немає акторів") </p>
        <p class="fs-4"><strong>Release Date:</strong> @Model.ReleaseRate</p>
        <p class="fs-4"><strong>Rating:</strong> @Model.Rating</p>
        <p class="fs-4"><strong>Description:</strong> @Model.Description</p>
    </div>
    <div class=" trailer">
        <h2>Trailer:</h2>
            <iframe width="640" height="360" src="@Model.TrailerURL" frameborder="0" allowfullscreen></iframe>
    </div>
</div>