@using Core.Entities

<h2>Change Booking Status</h2>
<link rel="stylesheet" href="~/css/ChangeSession.css">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>User</th>
            <th>Film</th>
            <th>Session Time</th>
            <th class="seats-column">Seats</th> 
            <th>Current Status</th>
            <th>New Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model.AllBookings)
        {
            <tr>
                <td>@booking.User.FirstName @booking.User.LastName</td>
                <td>@booking.Session.Film.Name</td>
                <td>@booking.Session.DateTimeBeg - @booking.Session.DateTimeEnd</td>
                <td>
                    @if (Model.BookingSeats.TryGetValue(booking.Id, out List<Seat> seats) && seats.Any())
                    {
                        <span class="seats-list">
                            @foreach (var seat in seats)
                            {
                                <span class="seat-label">Row: @seat.Row, Column: @seat.Column;</span>
                            }
                        </span>
                    }
                    else
                    {
                        <span>No seats reserved</span>
                    }
                </td>

                <td>@booking.Status.Name</td>
                <td>
                    <form asp-action="ChangeBookingStatus" method="post" class="d-flex">
                        <input type="hidden" name="bookingId" value="@booking.Id" />
                        <select name="newStatusId" class="form-control me-2">
                            @foreach (var status in Model.AvailableStatuses)
                            {
                                <option value="@status.Id" selected="@(booking.Status?.Id == status.Id ? "selected" : null)">
                                    @status.Name
                                </option>
                            }
                        </select>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>



