@model FilmViewModel

<h2>Edit Film</h2>



<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Poster URL</th>
            <th>Trailer URL</th>
            <th style="width: 30%;">Description</th> 
            <th>Rating</th>
            <th>Age Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model.AllFilms)
        {
            <tr>
                <form asp-action="EditFilm" method="post">
                    <input type="hidden" name="Id" value="@film.Id" />
                <td>@film.Name</td>

                <td>
                    <input type="url" name="PosterURL" value="@film.PosterURL" class="form-control mb-2" />
                        @if (!string.IsNullOrEmpty(film.PosterURL))
                        {
                        <img src="@film.PosterURL" alt="Poster" style="width: 80px; height: auto; border-radius: 5px;" />
                        }
                </td>

                <td>
                    <input type="url" name="TrailerURL" value="@film.TrailerURL" class="form-control mb-2" />
                        @if (!string.IsNullOrEmpty(film.TrailerURL))
                        {
                        <a href="@film.TrailerURL" target="_blank" class="btn btn-sm btn-link">Watch Trailer</a>
                        }
                </td>

                <td>
                    <textarea name="Description" class="form-control" rows="4">@film.Description</textarea>
                </td>

                <td>
                    <input type="text" pattern="\d{1,2}[.,]\d{1,2}" name="Rating"
                           value="@film.Rating.ToString("0.0")" class="form-control" />
                </td>

                <td><input type="text" name="AgeRating" value="@film.AgeRating" class="form-control" style="width: 120px;" /></td>

                <td>
                    <button type="submit" class="btn btn-primary">Save</button>
                </td>
                </form>
            </tr>
        }
    </tbody>
</table>

<div>
    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-action="ChangeFilm" asp-route-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>